In [2]:
2+2

4

### join string and number

In [9]:
'day' + ' 2'

'day 2'

In [10]:
'day 2'

'day 2'

In [11]:
'2 day'

'2 day'

In [12]:
'2.0 day'

'2.0 day'

In [16]:
'day' + ' 2.0'

'day 2.0'

## list

a list can hold any kind of data like integer, float, complex number, string,...etc.

In [36]:
l=[1,4,5,5]

In [37]:
l

[1, 4, 5, 5]

In [27]:
l2=[1,4,5,5,'day']

In [28]:
l2

[1, 4, 5, 5, 'day']

In [29]:
l

[1, 4, 5, 5]

In [30]:
l3=[4,5.5,'murtuza',20+2j]

In [31]:
l3

[4, 5.5, 'murtuza', (20+2j)]

In [43]:
l4=['murtuza']

In [47]:
l4

['murtuza']

In [1]:
list('mumtaz')

['m', 'u', 'm', 't', 'a', 'z']

In [43]:
print("ghulam murtuza"+ ' is a teacher and an engineer')

ghulam murtuza is a teacher and an engineer

In [45]:
first_string  = ('Ghulam '   )
second_string = ( 'Murtuza'  )
third_string  = (' is '      )
fourth_string = ('a teacher.')

In [46]:
print (first_string+ second_string + third_string + fourth_string)

Ghulam Murtuza is a teacher.

In [35]:
print (420)

420

In [47]:
list('CHASSUM')

['C', 'H', 'A', 'S', 'S', 'U', 'M']

In [48]:
list('123456')

['1', '2', '3', '4', '5', '6']

In [49]:
list("123456khhg")

['1', '2', '3', '4', '5', '6', 'k', 'h', 'h', 'g']

In [51]:
list ('1245kjh')

['1', '2', '4', '5', 'k', 'j', 'h']

In [64]:
marks = [12,54,26,54,54,85,29,9,6,96]

In [65]:
marks

[12, 54, 26, 54, 54, 85, 29, 9, 6, 96]

In [66]:
copy_marks = list(marks)

In [67]:
copy_marks

[12, 54, 26, 54, 54, 85, 29, 9, 6, 96]

### Append

append is the process of adding the name at the end of a list.

In [110]:
employee = []

In [111]:
employee.append ('Radha')

In [112]:
print(employee)

['Radha']

In [113]:
employee.append('Mohan')
employee.append('Raza')

if i run the upper append cell as many times than at the added the name many times.
so can run the code only one times.

In [114]:
print(employee)

['Radha', 'Mohan', 'Raza']

In [115]:
print(employee)

['Radha', 'Mohan', 'Raza']

### Insert

it is the process opf adding an string in between by using index.
Syntax: insert (index, object)

In [116]:
employee.insert(1, 'Murtuza')

In [117]:
print(employee)

['Radha', 'Murtuza', 'Mohan', 'Raza']

In [118]:
employee_salary = [15000, 20000, 35000]

In [119]:
employee_salary.insert  (1, 45000)

In [120]:
employee_salary

[15000, 45000, 20000, 35000]

In [121]:
len (employee)

4

### Indexing and slicing

indexing number of elements 
from starting 0,1,2,3,4,5,6,7,8,9,..........
from ending -1,-2,-3,-4,-5,-6,-7,-8,-9,.........

In [122]:
# Grab element basaed on index number 
employee [1]

'Murtuza'

In [123]:
employee[-1]

'Raza'

In [124]:
# update the name of element on the basis of index no.
employee [-2] = 'Banty'
employee

['Radha', 'Murtuza', 'Banty', 'Raza']

In [125]:
employee_salary

[15000, 45000, 20000, 35000]

In [126]:
employee_salary [-2] = 25000

In [127]:
employee_salary

[15000, 45000, 25000, 35000]

In [129]:
# In bracket[starting is including (1): end is excluding]
employee[1:]

['Murtuza', 'Banty', 'Raza']

In [130]:
# In bracket[starting is including : end is excluding]
employee[1:2]

['Murtuza']

In [132]:
employee[:2]

['Radha', 'Murtuza']

In [133]:
employee_salary + [40000]

[15000, 45000, 25000, 35000, 40000]

In [134]:
employee_salary

[15000, 45000, 25000, 35000]

In [135]:
# for permanent adding the data
employee_salary = employee_salary + [40000]

In [136]:
employee_salary

[15000, 45000, 25000, 35000, 40000]

In [147]:
print ('=' * 100)
print ('                             C  H  A  S  S  U  M                    ')
print ('=' * 100)

====================================================================================================
                             C  H  A  S  S  U  M
====================================================================================================

###  COUNT

In [148]:
marks = [25,36,54,12,45,32,29,81,25,78,67,45,69,25,45]

In [149]:
marks

[25, 36, 54, 12, 45, 32, 29, 81, 25, 78, 67, 45, 69, 25, 45]

In [151]:
len (marks)

15

In [152]:
marks.count(25)

3

### Index

In [153]:
marks.index(25)

0

In [154]:
marks.index(81)

7

### Extend

In [155]:
employee

['Radha', 'Murtuza', 'Banty', 'Raza']

In [156]:
employee.append('Golu')

In [157]:
employee

['Radha', 'Murtuza', 'Banty', 'Raza', 'Golu']

In [162]:
# for adding more than two elements 
# we need use extend arguments
employee.append(['Ahmad', 'Tinku'])

In [160]:
employee

['Radha', 'Murtuza', 'Banty', 'Raza', 'Golu', ['Ahmad', 'Tinku']]

In [164]:
employee.extend (['Gautam' , 'Avinas'])

In [166]:
print(employee)

['Radha', 'Murtuza', 'Banty', 'Raza', 'Golu', ['Ahmad', 'Tinku'], ['Ahmad', 'Tinku'], 'Gautam', 'Avinas']

### POP

In [168]:
students = ['Abid', 'Sufiya','Nancy', 'Ram', 'Babul', 'Chand', 'Nilu']

In [169]:
students

['Abid', 'Sufiya', 'Nancy', 'Ram', 'Babul', 'Chand', 'Nilu']

In [170]:
pop_last = students.pop()

In [171]:
pop_last

'Nilu'

In [172]:
students

['Abid', 'Sufiya', 'Nancy', 'Ram', 'Babul', 'Chand']

In [175]:
students = ['Abid', 'Sufiya','Nancy', 'Ram', 'Babul', 'Chand', 'Nilu']

In [176]:
students

['Abid', 'Sufiya', 'Nancy', 'Ram', 'Babul', 'Chand', 'Nilu']

In [178]:
pop_index = students.pop(1)

In [179]:
students

['Abid', 'Nancy', 'Ram', 'Babul', 'Chand', 'Nilu']

### REMOVE

In [185]:
roll_number =[100,101,102,103,104,100,106,105]

In [186]:
# if there are repeating number than first one will be deleted
roll_number.remove(100)

In [187]:
roll_number

[101, 102, 103, 104, 100, 106, 105]

### REVERSE

In [188]:
list =[10,12,14,15,11,13,19,1,8,18,19]

In [189]:
list.reverse()

In [190]:
list

[19, 18, 8, 1, 19, 13, 11, 15, 14, 12, 10]

### SORT

it arrange the list in asscending order.

In [191]:
marks = [25,85,69,47,36,58,86,39,49,98,95,73,72,81]

In [192]:
marks.sort()

In [193]:
marks

[25, 36, 39, 47, 49, 58, 69, 72, 73, 81, 85, 86, 95, 98]

In [194]:
marks.reverse()

In [195]:
marks

[98, 95, 86, 85, 81, 73, 72, 69, 58, 49, 47, 39, 36, 25]

## TUPLES
     It use () and it is immutable in tuple we can not edit the data
     but list use [], it is muttable means we can edit the data in list.

In [40]:
work_location =('Banglore', 'Hyderabad', 'Patna', 'Chenni', 'Mansi', 'Phulwaria')
work_location

('Banglore', 'Hyderabad', 'Patna', 'Chenni', 'Mansi', 'Phulwaria')

In [41]:
len(work_location)

6

In [42]:
type(work_location)

tuple

In [43]:
work_location.append('Goa')

AttributeError: 'tuple' object has no attribute 'append'

we can not add any element in tupple

In [44]:
#so first we covert the tuple in list.
work_location = list(work_location)

In [45]:
work_location

['Banglore', 'Hyderabad', 'Patna', 'Chenni', 'Mansi', 'Phulwaria']

In [46]:
type(work_location)

list

In [47]:
work_location.append('Goa')

In [48]:
work_location[4] = 'Rayeen Nagar'

In [49]:
work_location = list(work_location)

In [50]:
work_location = tuple(work_location)

In [51]:
type(work_location)

tuple

In [52]:
work_location

('Banglore',
 'Hyderabad',
 'Patna',
 'Chenni',
 'Rayeen Nagar',
 'Phulwaria',
 'Goa')

In [60]:
work_location[2]

'Patna'

In [55]:
work_location=list(work_location)

In [57]:
work_location

['Banglore',
 'Hyderabad',
 'Patna',
 'Chenni',
 'Rayeen Nagar',
 'Phulwaria',
 'Goa']

In [59]:
work_location[2]

'Patna'

### Set

In [73]:
roll_number = set()

In [74]:
roll_number

set()

In [76]:
# we add an element with add method
roll_number.add(1)

In [77]:
roll_number

{1}

In [78]:
# we add an another element with add method
roll_number.add(2)

In [79]:
roll_number

{1, 2}

In [81]:
# we add a duplicate element with add method
roll_number.add(1)

In [82]:
# it will show only one element 
roll_number

{1, 2}

In [86]:
roll_number = [1,3,4,6,4,8,9,4,1,4,3,2,7,9]

In [87]:
roll_number

[1, 3, 4, 6, 4, 8, 9, 4, 1, 4, 3, 2, 7, 9]

In [88]:
# set show all the elements only one time
set(roll_number)

{1, 2, 3, 4, 6, 7, 8, 9}

### Dictionary

In [139]:
dictionary = {'roll_number' : 216, 'subject' : ['Maths', 'Science', 'English'], 'marks': [88,75,72]}

In [140]:
dictionary

{'roll_number': 216,
 'subject': ['Maths', 'Science', 'English'],
 'marks': [88, 75, 72]}

In [141]:
dictionary['subject']

['Maths', 'Science', 'English']

In [142]:
dictionary['subject'][2]

'English'

In [143]:
dictionary['marks'][0]

88

In [144]:
dictionary['subject'][0].upper()

'MATHS'

In [145]:
dictionary['subject'][2].lower()

'english'

In [146]:
dictionary['marks'][0] = dictionary['marks'][0] +30

In [147]:
dictionary['marks']

[118, 75, 72]

In [148]:
dictionary['marks'][1] += 10

In [149]:
dictionary['marks']

[118, 85, 72]

In [150]:
dictionary['marks'][2] -=2

In [151]:
dictionary['marks']

[118, 85, 70]

In [160]:
# Create a new dictionary
d = {}

In [161]:
d

{}

In [162]:
d  ['NAME'] ='Sagar'

In [163]:
d

{'NAME': 'Sagar'}

In [164]:
d['salary'] = '30000'

In [165]:
d

{'NAME': 'Sagar', 'salary': '30000'}

In [171]:
# take an another example of dictionary 
dictionary = {'roll_number' : 216, 'subject' : ['Maths', 'Science', 'English'], 'marks': [88,75,72]}

In [172]:
dictionary.keys()

dict_keys(['roll_number', 'subject', 'marks'])

In [173]:
dictionary.values()

dict_values([216, ['Maths', 'Science', 'English'], [88, 75, 72]])

In [174]:
dictionary.items()

dict_items([('roll_number', 216), ('subject', ['Maths', 'Science', 'English']), ('marks', [88, 75, 72])])

In [175]:
for key in dictionary.items():
    print (key)

('roll_number', 216)
('subject', ['Maths', 'Science', 'English'])
('marks', [88, 75, 72])